
.emptyState {
    padding: var(--space-xl);
    text-align: center;
    color: var(--neutral-500);
}
.bookingsTableGrid{
    padding: var(--space-sm);
    border-radius: var(--radius-lg);
    overflow-x: auto;
}
.row:first-of-type{
    color: var(--neutral-700);
    font-weight: var(--font-semibold);
    background-color: var(--surface);
}
.row{
    display: flex;
    justify-content: space-between;
    gap: var(--space-lg);
    padding: var(--space-md) var(--space-sm) ;
    margin-bottom: var(--space-lg);
    border-radius: var(--radius-lg);
    min-width: 800px;
    box-shadow: var(--shadow-md);
}
.col{
    width: 150px;
    font-size: var(--text-sm);
}
.col:first-of-type {
    width: 200px;
    font-weight: var(--font-semibold);
    /* text-wrap: nowrap; */
}
.col:last-of-type{
    width: 60px;
}
.deleteButton {
    background-color: transparent;
    color: var(--danger);
    border: none;
    outline: none;
    font-size: var(--text-md);
}
.confirmText{
    text-align: center;
    font-size: var(--text-md);
}
.modalActions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    margin-top: var(--space-md);


}
.cancelBtn, .confirmDeleteBtn{
    padding: var(--space-xs) var(--space-lg);
    background-color: transparent;
    border: none;
    border-radius: var(--radius-md);
}
.cancelBtn{
    background-color: var(--primary);
    color: var(--neutral-200);

}
.confirmDeleteBtn{
    background-color: var(--danger);
    color: var(--neutral-200);
}