.bookingsContainer {
    padding: var(--space-xl);
    background-color: var(--background);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm);
    width: calc(100%);
}

.bookingsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 550px) {
    
    .bookingsContainer {
        padding: var(--space-lg);
    }

    .bookingsHeader h1 {
        font-size: var(--text-2xl);
    }
}
@media(max-width: 480px) {
    .bookingsContainer {
        padding: var(--space-md);
    }
    
    .bookingsHeader h1 {
        font-size: var(--text-xl);
    }
}